@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1{
    background-color: #00669F;
    height:50px; 
    margin:20px;
}

footer{
    background-color: #00669F;
}

.desconto{
    background-color: #1CD1B0;
}

.foto{
    background-color:#f6f6f6;
    display:inline-block;
    width:374px;
    height:380px;

}

.thumbnail{
    width:374px;
    height:217px;
    border-radius:15px;
    margin: 0px;
}

