@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.titulo{
    display: flex;   
    justify-content: space-between;  
    align-items: center;       
    background-color: #00669F;
    height: 40px;
    padding: 30px 40px;
}

footer{
    align-items: end;       
    background-color: #00669F;
    height: 30px;
    font-family: 'Roboto', sans-serif;    
}

header {

    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #1CD1B0;
    height: 10px;
    padding: 20px 40px;

}


.main {

    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 50px; 
    min-height: 100vh;
    padding: 80px;

}

.card{
    height: 500px;
    width: 350px;
    background-color: crimson;
    border-radius: 12px;
    overflow: hidden;
    position: relative;    
}

.card .favorite-icon{
    width:24px;
    position: absolute;
    top: 30px;
    left: 20px;   
}

.card .background-image {
    width:100%;
    height: 180px;
}

.card .profile-image {
    display:block;
    width: 150px;
    height: 150px;
    object-fit:cover;
    border-radius:100%;
    margin: 0 auto;
    margin-top: -50px; 
  

}

